{% extends 'base.html' %}

{% block content %}
<!-- THE BIG IDEA CARD -->
<div class="pt-5"></div>
<div class="d-flex justify-content-center mt-5 mx-5">
    <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
        <div class="row ">
            <div class="col-md-12">
                <img src="https://img.freepik.com/free-vector/synthesizer-musical-instrument-top-view-vector-illustration-monochrome-style-isolated-white-background_258353-629.jpg?w=1060" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-12">
                <h1 class="text-center mt-2">THE BIG IDEA</h1>
                <div class="container">
                    <p>It all started with, "What does HB like to do?" He Snowboards, does Photography, dabbles in Music Production and loves going to resturants
                        to find the best Brussle sprouts and Burgers. But couldn't pick the best way to make his final project work with any of those
                        until he realized his favortie thing in music is synthesizer and the creation of sound. HB thought to himself, "I wonder if there is an Api for audio?"
                        Loly be holdly there were TONS of information on building a Web Audio Api synth. So his next steps were simple... Start building it.
                        there are things HB wanted to add for his project but he understood time managment and couldn't focus his whole time on just the synth. 
                        But he will have more time with it, TBC...
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- SOMETHING HERE FOR TEXT  -->
<hr class="mt-5">
<h1 class="text-center">TAKE A LOOK AT THESE</h1>
<hr class="mb-5">


<!-- DIAGRAM ON WHAT WAS MADE -->
<div class="d-flex justify-content-between mt-5 mx-5">
    <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
        <div class="row ">
            <div class="col-md-12">
                <img src="http://retrothing.typepad.com/.a/6a00d83452989a69e2013488be5ef2970c-800wi" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-12">
                <h1 class="text-center mt-2 mb-5">WOAH... I BUILT THIS</h1>
                <div class="container">
                    <p>Wellllll..... Not excatly this. Let say a way more dumb'd down version of this. But a pat on the back for getting thought the first steps
                        To start off I did my research on the best way to build it and since I have a bit of experience in music, my thought was starting with finding and constructing
                        a piano to understand how the Audio Api worked. Mind you, I'm doing this in JavaScript with a week or two of studying it under my belt so errors became my best friend.
                        The best part was understanding how to find the errors. That really got me along and helped me break it down. So where was I, Right! Piano built,
                        with the a signal I moved on to being able to change the waveforms and connect them to the piano so everytime I change the slider and press the piano
                        it would fire either Sine (default), Square, Sawtooth, Triangle.....
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
        <div class="row ">
            <div class="col-md-12">
                <img src="https://img.freepik.com/free-vector/synthesizer-musical-instrument-top-view-vector-illustration-monochrome-style-isolated-white-background_258353-629.jpg?w=1060" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-12 mb-5">
                <h1 class="text-center mt-2">THE BIG IDEA</h1>
                <div class="container">
                    <p>It all started with, "What does HB like to do?" He Snowboards, does Photography, dabbles in Music Production and loves going to resturants
                        to find the best Brussle sprouts and Burgers. But couldn't pick the best way to make his final project work with any of those
                        until he realized his favortie thing in music is synthesizer and the creation of sound. HB thought to himself, "I wonder if there is an Api for audio?"
                        Loly be holdly there were TONS of information on building a Web Audio Api synth. So his next steps were simple... Start building it.
                        there are things HB wanted to add for his project but he understood time managment and couldn't focus his whole time on just the synth. 
                        But he will have more time with it, TBC...
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<hr class="mt-5">
<h1 class="text-center">TAKE A LOOK AT THESE</h1>
<hr class="mb-5">



    
{% endblock content %}